<div class="row">
	<div class="small-6 small-centered column">
		<div class="panel">
			<p><%= @contact_blurb %></p>
			<p><%= @contact_email %></p>
			<p><%= @contact_number %></p>
		</div>
	</div>
</div>
