<div class="row">

	<div class="small-8 small-centered column">
		<div class="icon-bar four-up">
	  <a class="item">
	    <img src="../assets/img/icons/footer-foundation-retina.png">
	    <label>One</label>
	  </a>
	  <a class="item">
	    <img src="../assets/img/icons/footer-foundation-retina.png">
	    <label>Two</label>
	  </a>
	  <a class="item">
	    <img src="../assets/img/icons/footer-foundation-retina.png">
	    <label>Three</label>
	  </a>
	  <a class="item">
	    <img src="../assets/img/icons/footer-foundation-retina.png">
	    <label>Four</label>
	  </a>
	</div>
		<div class="panel">
		 	<h1>For bookings and inquiries:</h1>
		 	Send an email to
			<p><%= @contact_email %></p>
			<p><%= @contact_number %></p>
		</div>
	</div>
</div>


