<div class="row">
	<div class="small-9 small-centered column">
		<div class="panel">
			<h1>Dashboard</h1>
			<p>
				<%= link_to "Edit page contents", edit_static_content_path(1) %>
			</p>
		</div>
	</div>
</div>