<div class="flexslider">
	<ul class="slides">
		<li><%= image_tag "image.jpeg" %></li>
		<li><%= image_tag "image_1.jpeg" %></li>
		<li><%= image_tag "image_2.jpeg" %></li>
		<li><%= image_tag "image_4.jpeg" %></li>
	</ul>
</div>