<div class="row" data-equalizer >
			<div class="large-6 columns" data-equalizer-watch>
				<div class="panel" id="text">
				<p>
				<h1>IMAN JAZMIN BROWN</h1>
				<p id="about"><%= @about %></p>
				</p>
				</div>
			</div>
			<div class="large-6 columns">
				<div class="panel" id="slider-panel">
					<%= render 'flexslider' %>
				</div>
			</div>
</div>


