<div class="row">
			<div class="large-10 large-centered columns panel" id="about">
						<h1>Iman Jazmin Brown</h1>
						<div class="large-8 columns">
							<%= render 'flexslider' %>
						</div>
				<p><%= @about %></p>
			</div>
</div>
