<div class="row">
		<div class="large-10 large-centered columns panel" id="about">
				<h1>Iman Jazmin Brown</h1>
				<%= image_tag "image.jpg" %>
				<p>
					<%= @about %>
				</p>
		</div>
	</div>
</div>


