<div class="row" id="home" data-equalizer> 
	<div class="box">
		<div class="large-4 column" data-equalizer-watch>
			<div class="panel" id="intro">
				<h1>Iman Jazmin Brown</h1>
				<p>
					<%= @about %>
				</p>
			</div>
		</div>

		<div class="large-6 column" >
			<div class="panel" id="slider">
				<ul id="intro-slide" data-orbit>
					<li><%= image_tag("black_and_white.jpg") %></li>
					<li><%= image_tag("sunglasses.jpg") %></li>
				</ul>
			</div>
		</div>
	</div>
</div>
