<div class="row">
			<div class="large-6 columns panel" id="about">
						<h1>IMAN JAZMIN BROWN</h1>
				<p><%= @about %></p>
			</div>
			<div class="large-6 columns panel">
				<%= render 'flexslider' %>
			</div>
</div>


