<div class="row">
			<div class="large-6 columns">
				<div class="panel" >
				<p>
				<h1>Iman Jazmin Brown</h1>
				<%= @about %>
				</p>
				</div>
			</div>
			<div class="large-6 columns">
				<div class="panel" id="slider-panel">
					<%= render 'flexslider' %>
				</div>
			</div>
</div>


