body {
	background-color: #db4646;
	background-image: url(http://www.transparenttextures.com/patterns/cubes.png);
	/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

/* large displays */

@media screen and (max-width: 64.0643em) {
	.top-bar {
		display: none;
	}
}

/* small displays */

@media screen and (min-width: 64.0643em) {
	.tab-bar {
		display: none;
	}
}

.item {
  margin-bottom: 0.5rem;
}

.panel {
	background-color: rgba(255,255,255,0.3);
}
