body {
	color: #FFF; /* Panel text is still partially controlled by the foundation variables*/
	background-image: image-url('wave7.png');
	background-size: 100%
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'La Belle Aurore', cursive;
	color: white;
}

h1 {
	font-size: 4.3em;
}

h2 {
	font-size: 3.5em;
}

h3 {
	font-size: 3em;
}

h4 {
	font-size: 2.5em;
}

hr {
	border: solid 1.5px yellow;
}

.row {
	margin-top: 70px;
}

.panel {
	background-color: rgba(0,0,0,0.8);
	text-align: center;
}

#about p {
	padding: 20px;
	text-align: justify;
}

#about {
	line-height: 30px;
	padding: 50px 20px 20px 20px;
}

#about img {
	width: 60%;
}

// contact 
#contact_line { 
	margin-top: 2em;
}

#location { 
	font-size: 2em;
	margin: 10px 10px 5px 10px;
}


// stats modal
#stats_modal { 
	text-align: center;
	background-color: #000;
}
.close-reveal-modal {
	color: #fff;
}

// flexslider
.flexslider {
	border:	none;
	background: none;	
}

#flex_panel {
	height: 770px; // set height equal to about panel
}
.flex-direction-nav a {
	width: 0px;
	height: 0px;
}

// swipebox 
#swipebox-caption, #swipebox-count {
	font-family: 'Josefin sans', sans-serif;
	color: #000;
	font-size: 24px;
	text-shadow: 0.5px 0.5px 0.5px black;
	overflow-y: auto;
}

#swipebox-caption {
	border: 1px 1px #ccc;
	background: none; 
	background-color: #0d0d0d;
}

#swipebox-overlay {
	background: none;
	background: rgba(0,0,0,0.9)
}

// links 
a { 
	color: #FFF;
}

.event_col a {
	text-shadow: 0.5px 0.5px 0.5px yellow; 
}

a:hover {
	color: yellow;
}

.email {
	margin: 10px 10px 25px 10px;
}

// off-canvas menu
.inner-wrap {
	height: 100%;
}


// tab-bar 
// remove mystery dead-end link that appears only in production
li .left-off-canvas-toggle.menu-icon { 
	display: none; 
}
