body {
	background-image: url('splatter.jpg');
}

.panel {
	background-color: rgba(0,0,0,0.8);
}

#about p {
	padding: 20px;
	text-align: justify;
}


/* small displays */


@media screen and (max-width: 64.0643em) {
	.top-bar {
		display: none;
	}
}


/* large displays */

@media screen and (min-width: 64.0643em) {
	.tab-bar {
		display: none;
	}

	#about {
		line-height: 30px;
		padding: 20px;
		height: 770px;
	}

	#slider-panel {
		height: 770px;
	}
}

