// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//Import Josefin Sans

body {
	font-family: 'Josefin Sans', sans-serif;
}

.panel#intro {
	width: 400px;
}

.panel#slider {
	width: 450px;
}

.row#home {
	margin-top: 100px;
}