// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import url(http://fonts.googleapis.com/css?family=Josefin+Sans);


.panel#intro {
	background-color: #EDECE2;
	width: 400px;
	margin-left: auto;
	margin-right: auto;
}

.panel#slider {
	background-color: #EDECE2;
	width: 450px;
	margin-left: auto;	
	margin-right: auto; 
}

.row#home {
	margin-top: 100px;
}

body {
	font-family: 'Josefin Sans', sans-serif;
	background-color: #EDECE2;
	background-image: url("string.png");
	background-repeat: no-repeat;
	}

ul.right {
	background-color: #000;
}

h1 {
	font-family: 'Josefin Sans', sans-serif;
	font-weight: normal;
}

/* large displays */

@media screen and (max-width: 64.0643em) {
	.top-bar {
		display: none;
	}
}

/* small displays */

@media screen and (min-width: 64.0643em) {
	.tab-bar {
		display: none;
	}
}
